.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  box-sizing: border-box;

  
}



body{
  background: black;
  color: #fff;
}

#header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.container{
  padding: 10px 10%;
}


nav{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  z-index: 100;
}


.homepage-container{
  margin-top: 40px;
  display: flex;
  justify-content:space-evenly;
  gap: 50px;
  align-items: center;
}







.logo{
width: 140px;
margin-left: 10px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;

}

nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  background:#ff004f ;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{
  width: 100%;

}

.header-text{
  margin-top: 10%;
  font-size: 30px;
  text-align: center;
  width: 50%;

}



.header-text h1{
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span{
  color: #ff004f;
}



.profile-pic{
  width: 50%;

}

.profile-pic img{
  width: 90%;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 10px 30px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition:background 0.5s ;
}

.btn:hover{
  background: #ff004f;
}

.project-description{
  font-size: 14px;
}















#about{
  padding: 80px 0;
  color: #ababab;

}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1{
  flex-basis: 40%;

}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
 
}

.about-col-2{
  width: 50%;
  
}

.subtitle{
  font-size: 60px;
  font-weight: 600;
  color: white;
}



/* -------------project------------------------- */


#portfolio{
  padding: 50px 0;

}

.worklist{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;

}





.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}


.project-description{
  
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  background-color: white;
  color: black;
  padding: 10px 10px;
  box-shadow: rgba(250, 249, 249, 0.35) 0px 5px 15px;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0px;
}



/* ---------------------------------------------------- */



#github{
  width: 80vw;
  margin: auto;
  font-size: 28px;
}

a{
  text-decoration: none;
  color: white;
  
}

.project-description button{
  background-color: #ff004f;
  border-color: transparent;
  margin-left: 10px;
  margin-top: 10px;
}


#skills{
  margin-top: 20px;
}

.inner{
  padding-top: 20px;
}

.header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.header::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color:#ff004f;

}

.container1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;

}

.skill-box{
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover >.skill-title:after, .skill-box:hover > .skill-title::before{
  width: 35px;

}

.skill-box:hover .img{
  transform: translateY(-10px);
}

.skill-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0  0 2px;
  background-color: #ff004f;
  transition: .5s;
}

.skill-title::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius:0 2px 2px 0;
  background-color: #ff004f;
  transition: .5s;
}

.img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 45px 0 0 45px;  

}

.skill-title img{
  width: 50px;
  z-index: 2;
}

.skill-title h3{
  color: #fff;
  margin-top: 0.5rem;
}


@media only screen and (max-width:768px){


  #header{
    width: 100%;
    
   }
  
  .container{
    padding: 10px 10%;
  }
  
  .logo{
    width: 80%;
    margin-left: 10px;
    }
  
  nav{
    position: fixed;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
  
  }

  #sidemenu li{
    margin-top: 50px;
  }

    nav img{
    margin-top: 20px;
    }

  #main-container{
    width: 70vw;
    margin-left:20vw;

  }
  .homepage-container{
    display: flex;
    flex-direction: column-reverse;
    
    
  }



  
  
  #header{
    width: 80vw;
  }

  .container{
    width: 100%;
  }

   .header-text{
    width: 100%;
    font-size: 18px;
    margin: auto;
    
 }

 

.header-text h1{
    font-size: 30px;
}





#about{
 width: 80vw;

}





.subtitle{
  font-size: 50px;
  font-weight: 500;
  color: white;
}



/* -------project-------------------- */

#portfolio{
  width: 80vw;
  margin-left: 20vw;

}


#github{
  width: 80vw;
  margin-left: 20vw;
  font-size: 20px;
  font-weight: 300;
}

#skills{
  width: 80%;
  margin-left: 20vw;

}

.container1{
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
  font-size: 1rem;

}



}


@media only screen and (max-width:480px){
  

  #header{
    width: 100%;
    
   }
  
  .container{
    padding: 10px 10%;
  }
  
  .logo{
    width: 60%;
    }
  
  nav{
    position: fixed;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
  
  }

  #sidemenu li{
    margin-top: 30px;
    
  }
  #sidemenu li a{
    font-size: 10px;
    
  }

    nav img{
    margin-top: 20px;
    }

  #main-container{
    width: 70vw;
    margin-left:20vw;

  }
  .homepage-container{
    display: flex;
    flex-direction: column-reverse;
    
    
  }



  
  
  #header{
    width: 80vw;
  }

  .container{
    width: 100%;
  }

   .header-text{
    width: 100%;
    font-size: 14px;
    margin: auto;
    
 }

 

.header-text h1{
    font-size: 20px;
}





#about{
 width: 80vw;

}





.subtitle{
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.subtitle+p{
  font-size: 14px;
}



/* -------project-------------------- */

#portfolio{
  width: 80vw;
  margin-left: 20vw;

}


#github{
  width: 80vw;
  margin-left: 20vw;
  font-size: 14px;
  font-weight: 300;
}


#skills{
  width: 80%;
  margin-left: 20vw;

}

.container1{
  grid-template-columns: repeat(1,1fr);
  gap: 2rem;
  font-size: 0.8rem;

}


}